In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df_MAIN = pd.read_csv("/Users/neelesh/Documents/FS-Sem2/fin_man/ESG-and-Financial-Performance/Data Collection/main_df_no_NAN_99p.csv")
df_MAIN_cleaned = df_MAIN.dropna()
df_MAIN_cleaned.describe()

,Unnamed: 0,Year,Total Return,ESG Score,ESG Combined Score,ESG Controversies Score,Social Pillar Score,Governance Pillar Score,Environmental Pillar Score,Revenue - Mean,Earnings Per Share - Mean,Return On Equity - Mean,Volume,Company Market Cap,EBITDA - Mean
count,50736.000000,50736.00000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,5.073600e+04,50736.000000,50736.000000,5.073600e+04,5.073600e+04,5.073600e+04
mean,105943.495861,2014.95179,14.092822,45.176767,43.920164,92.278124,45.446937,50.942291,38.138041,3.252298e+11,94.246883,13.599591,1.164860e+06,3.290298e+11,4.537727e+10
std,59609.025312,4.98485,41.259729,19.707534,18.826651,20.426456,22.992075,21.653620,28.029774,1.564371e+12,715.321399,19.839521,4.793798e+06,1.664073e+12,2.360485e+11
min,2.000000,2002.00000,-76.348632,4.470837,4.470837,3.846154,1.611402,3.956835,0.000000,0.000000e+00,-92.500500,-129.960000,0.000000e+00,8.836997e+07,-5.121924e+08
25%,54743.750000,2011.00000,-11.440238,29.172295,28.908182,100.000000,26.996637,33.609719,12.249763,1.253814e+09,0.390475,6.599918,0.000000e+00,2.359950e+09,2.621201e+08
50%,106842.500000,2016.00000,9.430330,44.644679,43.401165,100.000000,44.240609,51.544241,37.116274,5.493699e+09,1.594085,12.002540,1.562000e+04,9.353239e+09,1.035209e+09
75%,156939.250000,2019.00000,32.696180,60.650268,58.300877,100.000000,63.518516,68.585440,61.739893,3.555839e+10,5.254563,19.373888,3.741870e+05,6.005076e+10,6.673981e+09
max,206912.000000,2022.00000,256.142197,89.721799,87.471019,100.000000,95.077388,94.714260,95.529762,2.770789e+13,15036.339140,182.646000,6.600124e+07,3.417197e+13,4.636861e+12

In [3]:
df_MAIN_cleaned.head(5)

,Unnamed: 0,ISIN,Year,Total Return,ESG Score,ESG Combined Score,ESG Controversies Score,Social Pillar Score,Governance Pillar Score,Environmental Pillar Score,...,Return On Equity - Mean,Volume,Company Market Cap,EBITDA - Mean,Country of Headquarters,Region of Headquarters,TRBC Industry Name,TRBC Industry Group Name,TRBC Business Sector Name,TRBC Economic Sector Name
0,2,DK0010244508,2002,-4.703688,10.732601,10.732601,100.0,16.469428,16.153846,0.000000,...,18.19000,0.0,5.201496e+10,1.929737e+09,Denmark,Europe,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials
1,3,DK0010244508,2003,78.725725,16.933543,16.933543,100.0,19.033531,34.523810,0.000000,...,17.60000,0.0,1.828570e+11,6.631311e+09,Denmark,Europe,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials
2,4,DK0010244508,2004,6.899061,17.855846,17.855846,100.0,20.465337,26.862745,7.523148,...,20.58450,0.0,1.980218e+11,8.512478e+09,Denmark,Europe,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials
3,5,DK0010244508,2005,45.463359,16.395483,16.395483,100.0,20.152244,17.166667,11.683007,...,19.76857,0.0,2.821975e+11,8.136144e+09,Denmark,Europe,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials
4,6,DK0010244508,2006,-17.550102,18.732474,18.732474,60.0,20.633013,25.500000,11.033951,...,12.20555,0.0,2.292305e+11,9.496474e+09,Denmark,Europe,Marine Freight & Logistics,Freight & Logistics Services,Transportation,Industrials

In [4]:
#   Columns in df_MAIN_cleaned

#   ['Year',
#  'ISIN',
#  'Total Return',
#  'ESG Score',
#  'ESG Combined Score',
#  'ESG Controversies Score',
#  'Social Pillar Score',
#  'Governance Pillar Score',
#  'Environmental Pillar Score',
#  'Revenue - Mean',
#  'Earnings Per Share - Mean',
#  'Return On Equity - Mean',
#  'Volume',
#  'Company Market Cap',
#  'EBITDA - Mean',
#  'Instrument',
#  'Country of Headquarters',
#  'Region of Headquarters',
#  'TRBC Industry Name',
#  'TRBC Industry Group Name',
#  'TRBC Business Sector Name',
#  'TRBC Economic Sector Name']

In [5]:
def model_ESG(n, conditioning_feature):
    
    results = pd.DataFrame({'number': n, 'mse': [0]*len(n), 'r2': [0]*len(n)})
    for i in range (len(n)):
        results['number'][i] = n[i]

        top_n_df_intermediate = df_MAIN_cleaned.groupby('Region of Headquarters') \
            .apply(lambda x: x.groupby('ISIN') \
            .agg({conditioning_feature: 'mean'}) \
            .nlargest(n[i], conditioning_feature)) \
            .reset_index()
    
        top_n_df = df_MAIN_cleaned.merge(top_n_df_intermediate['ISIN'], on='ISIN', how='inner')

        top_n_df_reg = top_n_df[['Total Return',
                             'Revenue - Mean',
                             'Earnings Per Share - Mean',
                             'Return On Equity - Mean',
                             'Volume',
                             'Company Market Cap',
                             'EBITDA - Mean',
                             'ESG Score']]
        X = top_n_df_reg.drop('ESG Score',axis =1)
        y = top_n_df_reg['ESG Score']
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 101)
        regr = RandomForestRegressor(n_estimators = 10, max_depth = 10, random_state = 101)
        regr.fit(X_train, y_train.values.ravel())
        predictions = regr.predict(X_test)
        # Mean squared error (MSE)
        results['mse'][i] = mean_squared_error(y_test.values.ravel(), predictions)
        # R-squared scores
        results['r2'][i] = r2_score(y_test.values.ravel(), predictions)
        
    return results

In [6]:
n = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 20, 50, 100, 150, 200, 250, 500, 700, 800]
conditioning_feature = 'Return On Equity - Mean'

results_ = model_ESG(n, conditioning_feature)
results_

/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['r2'][i] = r2_score(y_test.values.ravel(), predictions)
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/1293410266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]

    number         mse        r2
0        5  238.916617  0.470535
1        6  192.261998  0.527567
2        7  133.700404  0.604194
3        8  158.484848  0.560219
4        9  286.547731  0.320958
5       10  150.500849  0.616437
6       11  149.553816  0.620437
7       12  134.729473  0.617597
8       13  160.506620  0.371788
9       14  220.502939  0.374458
10      15  169.334572  0.525805
11      20  209.016545  0.437106
12      50  207.075918  0.415221
13     100  238.668157  0.358596
14     150  280.421123  0.303226
15     200  270.454248  0.262263
16     250  278.523930  0.270044
17     500  295.118265  0.233234
18     700  296.029389  0.232601
19     800  301.319567  0.229794

In [7]:
years = list(range(2000, 2023))
isin = df_MAIN_cleaned['ISIN'].unique()
combinations = list(itertools.product(isin, years))
df_combinations = pd.DataFrame(combinations, columns=['ISIN', 'Year'])

df_new = pd.merge(df_combinations, df_MAIN_cleaned, on=['ISIN', 'Year'], how='left').reset_index().drop(columns="index")

df_new["Total Return+1"] = df_new["Total Return"].shift(-1)

df_new = df_new[df_new["Year"].isin([2022]) == False]

df_new_cleaned = df_new.dropna().drop(columns="Unnamed: 0")

In [8]:
def model_ESG_timeshift(n, conditioning_feature):
    
    results = pd.DataFrame({'number': n, 'mse': [0]*len(n), 'r2': [0]*len(n)})
    for i in range (len(n)):
        results['number'][i] = n[i]

        top_n_df_intermediate = df_new_cleaned.groupby('Region of Headquarters') \
            .apply(lambda x: x.groupby('ISIN') \
            .agg({conditioning_feature: 'mean'}) \
            .nlargest(n[i], conditioning_feature)) \
            .reset_index()
    
        top_n_df = df_new_cleaned.merge(top_n_df_intermediate['ISIN'], on='ISIN', how='inner')

        top_n_df_reg = top_n_df[['ESG Score',
                                 'ESG Combined Score',
                                 'ESG Controversies Score',
                                 'Social Pillar Score',
                                 'Governance Pillar Score',
                                 'Environmental Pillar Score',
                                 'Total Return+1']]
        X = top_n_df_reg.drop('Total Return+1',axis =1)
        y = top_n_df_reg['Total Return+1']
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 101)
        regr = RandomForestRegressor(n_estimators = 10, max_depth = 10, random_state = 101)
        regr.fit(X_train, y_train.values.ravel())
        predictions = regr.predict(X_test)
        # Mean squared error (MSE)
        results['mse'][i] = mean_squared_error(y_test.values.ravel(), predictions)
        # R-squared scores
        results['r2'][i] = r2_score(y_test.values.ravel(), predictions)
        
    return results

In [9]:
n = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 20, 50, 100, 150, 200, 250, 500, 700, 800]
conditioning_feature = 'Company Market Cap'

results_ = model_ESG_timeshift(n, conditioning_feature)
results_

/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['r2'][i] = r2_score(y_test.values.ravel(), predictions)
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]
/var/folders/wx/1_76tj0s15gc4yxmndvw4l_00000gn/T/ipykernel_66566/2922046696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['number'][i] = n[i]

    number          mse        r2
0        5  1021.544668 -0.279501
1        6   842.888981 -0.015243
2        7   824.249205  0.005708
3        8  1527.689669 -0.125669
4        9  1930.130814 -0.199714
5       10   918.750535 -0.270103
6       11  1570.035052 -0.370138
7       12  1428.036824 -0.223177
8       13  1376.033365  0.007754
9       14  1792.345674 -0.167200
10      15  1482.491007 -0.112447
11      20  1740.096412 -0.058242
12      50  1257.476954 -0.150756
13     100  1447.337680 -0.055395
14     150  1287.046765 -0.057146
15     200  1317.643818 -0.015138
16     250  1276.058122 -0.026153
17     500  1411.983783 -0.011407
18     700  1347.160258 -0.007346
19     800  1310.016529 -0.016909

In [10]:
df_ISIN_CompNames_raw = pd.read_csv("/Users/neelesh/Documents/FS-Sem2/fin_man/ESG-and-Financial-Performance/isin_company-name.csv")
df_ISIN_CompNames = df_ISIN_CompNames_raw.dropna()
df_ISIN_CompNames.drop_duplicates()
df_ISIN_CompNames.describe()

                ISIN  Name
count           9960  9960
unique          9960  9947
top     DK0010244508   OCI
freq               1     2

In [11]:
n = 10

conditioning_feature = 'Company Market Cap'

top_n_df_intermediate = df_MAIN_cleaned.groupby('Region of Headquarters') \
            .apply(lambda x: x.groupby('ISIN') \
            .agg({conditioning_feature: 'mean'}) \
            .nlargest(n, conditioning_feature)) \
            .reset_index()

top_n_df = df_MAIN_cleaned.merge(top_n_df_intermediate['ISIN'], on='ISIN', how='inner')

top_n_df['ISIN'].unique()

array(['ID1000125503', 'ZAE000013181', 'ID1000066004', 'AU000000ANZ3',
       'COB07PA00078', 'ID1000096605', 'AU000000BHP4', 'ID1000110802',
       'COD38PA00046', 'EST01PA00013', 'AU0000030678', 'AU000000CBA7',
       'AU000000CSL8', 'CLP7847L1080', 'CLP3880F1085', 'ZAE000066304',
       'AU000000FMG4', 'RU0007661625', 'COT29PA00025', 'COT13PA00086',
       'COE01PA00026', 'COT04PA00028', 'COE15PA00026', 'COT09PA00035',
       'ID1000108103', 'ID1000125107', 'AU000000MQG1', 'RU0007288411',
       'HU0000153937', 'ZAE000042164', 'ZAE000015889', 'AU000000NAB4',
       'RU0009024277', 'RU000A0DKVS5', 'RU000A0J2Q06', 'HU0000061726',
       'ID1000060403', 'ID1000122500', 'AU000000RIO1', 'KR7207940008',
       'ZAE000070660', 'ZAE000006896', 'RU0009029540', 'ZAE000259701',
       'ZAE000109815', 'NL0011375019', 'RU0008926258', 'ID1000125305',
       'AU000000TLS2', 'UG0000001145'], dtype=object)

In [12]:
top_n_df_new = pd.merge(top_n_df, df_ISIN_CompNames, on=['ISIN'], how='left').reset_index().drop(columns="index")
top_n_df_new[['ISIN', 'Name']]

             ISIN                     Name
0    ID1000125503   ACE HARDWARE INDONESIA
1    ID1000125503   ACE HARDWARE INDONESIA
2    ZAE000013181  ANGLO AMERICAN PLATINUM
3    ZAE000013181  ANGLO AMERICAN PLATINUM
4    ZAE000013181  ANGLO AMERICAN PLATINUM
..            ...                      ...
400  AU000000TLS2                  TELSTRA
401  AU000000TLS2                  TELSTRA
402  UG0000001145                    UMEME
403  UG0000001145                    UMEME
404  UG0000001145                    UMEME

[405 rows x 2 columns]